<ion-view  ng-controller="ForumDetailCtrl as vm" title="{{vm.forum.appName}}">

  <ion-content>

    <div class="item item-input-inset">
        <label style="margin-right: 5px;">
            <select ng-model="topic.method" ng-init="topic.method = topic.method || vm.options[0].value"
                ng-options="option.value as option.name for option in vm.options">
            </select>
        </label>

        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="topic.content" placeholder="Search"/>
        </label>

        <button class="button button-positive"  style="margin-left: 5px;" ng-click="vm.search(topic)">
        Go!
        </button>
    </div>

    <div class="button-bar">
      <a class="button button-positive" ng-click="vm.createThread()">Nouveau Topic</a>

      <a class="button button-balanced" ng-click="openModal()">Présentation</a>

      

    </div>
<br>
    <div class="list">
        <a class="item item-icon-right"  ui-sref="app.thread" ng-repeat="thread in vm.threads| orderBy: '-publicDate'| filter:searchText" ng-click="vm.selectThread(thread.idThread)">
            <div class="row">
                <div class="col-20">
                    <p>{{thread.publicDate | date:"dd/MM/yyyy"}}</p>

                </div>

                <div class="col col-center">
                    <h3>{{thread.threadName}}</h3>
                    <p>{{thread.author.firstName + " " + thread.author.lastName}}</p>
                </div>
                
                <div class="col-20 col-center">
                    <h4 class="positive">{{thread.rating}}/5</h4>
                    <h4 class="positive">{{thread.likeCount}} Likes</h4>
                    <h4 class="positive">{{thread.responseCount}}  Comments</h4>
                </div>
            </div>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </div>

    <script id="presentation.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar>
          
          <h1 class="title">Présentation</h1><button class="button button-clear button-primary" ng-click="modal.hide()">Annuler</button>
        </ion-header-bar>
        <ion-content ng-click="closeModal()">
          {{vm.forum.appDescription}}
        </ion-content>
      </div>
    </script>



  </ion-content>
</ion-view>