<ion-view ng-controller="ThreadCtrl as vm" title="{{vm.thread.threadName}}" >
	<ion-content>

    	<div class="list card">
          
          <div class="item item-avatar">
            <img src="http://ionicframework.com/img/docs/mcfly.jpg">
            <h2>{{vm.thread.author.firstName}} {{vm.thread.author.lastName}}</h2>
            <p>{{vm.thread.author.title}}</p>
            <p>{{vm.thread.publicDate | date:"dd/MM/yyyy HH:mm:ss"}}</p>
          </div>

          <div class="item item-body" ng-bind-html="vm.thread.content">
            
            <!-- <p>
              <a href="#" class="subdued">{{}} Like</a>
              <a href="#" class="subdued">5 Dislike</a>
              <a href="#" class="subdued">6 Favori</a>
              <a href="#" class="subdued">Note:2/5</a>
            </p> -->
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-click="like()">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" ng-click="dislike()">
              <i class="icon ion-chatbox"></i>
              Dislike
            </a>
            
            <a class="tab-item" ng-click="showShareForm()">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a  class="tab-item"  ng-click="vm.commentThread(vm.thread.idThread)">
              <i class="icon ion-thumbsup"></i>
              Comment
            </a>
            <a class="tab-item"  ng-click="bookmark()">
              <i class="icon ion-thumbsup"></i>
              Bookmark
            </a>
            <a class="tab-item" ng-click="showNoteForm()">
              <i class="icon ion-chatbox"></i>
              Note
            </a>
          </div>
</div>
        
    	<div class="list card" ng-repeat="post in vm.thread.posts">
          <div class="item item-avatar">
            <img src="http://ionicframework.com/img/docs/mcfly.jpg">
            <h2>{{post.user.firstName}} {{post.user.lastName}}</h2>
            <p>{{post.postTime | date:"dd/MM/yyyy"}}</p>
          </div>

          <div class="item item-body" ng-bind-html="post.postContent">
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-click="comment()">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
          </div>
        </div>
    </ion-content>

    

</ion-view>