<ion-view title="Changer mot de passe" ng-controller="PasswordCtrl as vm">
  <ion-content class="has-header">
    <form name="passwordForm">
      <div class="list">

      <label class="item item-input item-stacked-label">
        <span class="input-label">Mot de passe actuel</span>
        <input type="password" placeholder="" ng-model="password.actualPass" required>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Nouveau mot de passe</span>
        <input type="password" placeholder="" ng-model="password.newPass" required>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Confirmer le nouveau mot de passe</span>
        <input type="password" placeholder="" ng-model="password.confirmPass" required>
      </label>

      </div>
      <pre>form = {{password | json}}</pre>
      <button class="button button-block button-positive" ng-click="vm.changePassword(password)" ng-disabled="passwordForm.$invalid">
    Valider
      </button>
    </form>
    

    <a ui-sref="home.pageperso" class="button button-block button-assertive">
  Annuler
    </a>
  </ion-content>
</ion-view>