<ion-view title="" ng-controller="ForumsCtrl as vm">
  <ion-content class="has-header">
    
    <div class="list" ng-repeat="service in vm.services">
        <div>
            <div class="item item-divider item-energized" >{{service.serviceName}}</div>

            <a ui-sref="app.forum-detail" class="item item-icon-right" ng-repeat="app in service.apps" ng-click="vm.selectForum(app.idApp)">
                {{app.appName}}

                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            
        </div>
    </div>
  </ion-content>
</ion-view>