<ion-view ng-controller="MessagesCtrl">
  <ion-content class="has-header">

    <div class="list">
        
        <a class="item item-avatar item-icon-right" ng-click="openModal()" >
          <img src="http://ionicframework.com/img/docs/mcfly.jpg">
          <h2>NGUYEN Nhat Minh</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        
        
        <script id="my-modal.html" type="text/ng-template">
          <div class="modal">
            <ion-header-bar>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Répondre</button>
              <h1 class="title">Message</h1><button class="button button-clear button-primary" ng-click="modal.hide()">Annuler</button>
            </ion-header-bar>
            <ion-content ng-click="closeModal()">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </ion-content>
          </div>
        </script>

        
        
        
    </div>
  </ion-content>
</ion-view>