<ion-nav-bar class="bar-positive">
    <h1 class="title">Envoyer un message</h1>
</ion-nav-bar>

<ion-view ng-controller="SendMessageCtrl as vm">
    <ion-content class="has-header">
    <form name="messageForm">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Destinataire</span>
            <input type="text" placeholder="Destinataire" required ng-model="message.receiver">
        </label>

        <textarea placeholder="Saisissez votre message" ng-model="message.content" required ng-minlength="10" required ng-minlength="10">
        </textarea>

        <!-- <pre>form = {{comment | json}}</pre> -->
        <button class="button button-block button-positive" ng-click="vm.sendMessage(message)" ng-disabled="messageForm.$invalid">
            Valider
        </button>
        <a ui-sref="app.messages" class="button button-block button-assertive">
            Annuler
        </a>

    </form>
    </ion-content>
</ion-view>